@charset "utf-8";
body{
    background-color: #525252;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
    float: left;
}.container .row.centered-form .col-xs-12.col-sm-8.col-md-4.col-sm-offset-2.col-md-offset-4 .panel.panel-default .panel-heading .panel-title {
}
